{% extends "watchadmin/base.html" %}
{% block title %}用户浏览{% endblock %}
{% block a6 %}class="active"{% endblock %}
{% block content %}
<div class="span9">
	<h2>
		商品信息
	</h2>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>
					id号
				</th>
				<th>
					商品类别
				</th>
				<th>
					商品名称
				</th>
				<th>
					图片
				</th>
				<th>
					单价
				</th>
				<th>
					状态
				</th>
				<th>
					库存
				</th>
				<th>
					添加时间
				</th>
				<th>
					操作
				</th>
			</tr>
		</thead>
		<tbody>
			{% for good in p %}
			<tr >
				<td style="line-height:60px">
					{{good.id}}
				</td >
				<td style="line-height:60px">
					{{good.typeid}}
				</td>
				<td style="line-height:60px">
					{{good.goods}}
				</td>
				<td style="line-height:60px">
					<img src="/static/goodsimg/s_{{good.picname}}" style="height:60px" >
				</td>
				<td style="line-height:60px">
					{{good.price}}
				</td>
				<td style="line-height:60px">
					<!-- 可以进行直接比较，且无需缩进 -->
					{% if good.state == 1 %}
					新上架
					{% elif good.state == 2 %}
					在售
					{% else %}
					已下架
					{% endif %}
				</td>
				<td style="line-height:60px">
					{{good.store}}
				</td>
				<td style="line-height:60px">
					{{good.addtime}}
				</td>
				<td style="line-height:60px">
					<a href="{% url 'admin_goodsedit' good.id %}" class="view-link">编辑</a> |
					<a href="{% url 'admin_goodsdel' good.id %}" class="view-link">删除</a> |
					<a href="{% url 'admin_contents' '' good.id %}" class="view-link">评论</a>
				</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>
	<!-- 显示页码 -->
	<div class="pagination">
		<ul>
			{% for n in lip %}
			<li>
			<a href="{% url 'pgindex' n %}">{{n}}</a>
			</li>
			{% endfor %}
		</ul>	
	</div>			
</div>
{% endblock %}