{% extends "watchapp/base2.html" %}


<!-- 不同之处 -->
{% block diff %}
<!--typo-starts-->
<div class="pages" id="pages">
	<div class="container">
		<div class="typo-top heading">
			<h2>博客</h2>
		</div>
		<div class="typo-bottom">
		<div class="headdings">
			<h3 class="ghj">标题</h3>
				<div class="bs-example">
					<table class="table">
					  <tbody>
						<tr>
						  <td><h1 class="head" id="h1.-bootstrap-heading">联系人1：小乖<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
						  <td class="type-info">0059669</td>
						</tr>
						<tr>
						  <td><h1 class="head" id="h1.-bootstrap-heading">联系人1：小乖<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
						  <td class="type-info">0059669</td>
						</tr>
						<tr>
						  <td><h1 class="head" id="h1.-bootstrap-heading">联系人1：小乖<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
						  <td class="type-info">0059669</td>
						</tr>
						<tr>
						  <td><h1 class="head" id="h1.-bootstrap-heading">联系人1：小乖<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
						  <td class="type-info">0059669</td>
						</tr>
						<tr>
						  <td><h1 class="head" id="h1.-bootstrap-heading">联系人1：小乖<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
						  <td class="type-info">0059669</td>
						</tr>
						<tr>
						  <td><h1 class="head" id="h1.-bootstrap-heading">联系人1：小乖<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
						  <td class="type-info">0059669</td>
						</tr>
					  </tbody>
					</table>
				</div>
		</div>
</div>
<!--typo-ends-->
{% endblock %}
